﻿@using MythicAuth
@model RegisterViewModel

@section scripts{
    @if(HtmlUtils.pwnCheck){
        <script src="/js/password-check.brow.js"></script>
    }
}

<div class="login-page">
    <div class="page-header">
        <h1>Register</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">
        @if(HtmlUtils.pwnCheck){
            <div class="alert alert-danger pass-warning" id="passAlert">
                <div>
                    The password you entered is too common, please enter a different password or click the button to ignore this warning.
                    <a href="https://haveibeenpwned.com/Passwords" target="_blank" rel="noopener noreferrer">Learn More</a>
                </div>
                <div class="right-flex">
                    <button id="dismiss">Proceed Anyway</button>
                </div>
            </div>
        }
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Register for Mythic Table Services</h3>
                </div>
                <div class="panel-body">

                    <form asp-route="Register">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <fieldset>
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input type="password" class="form-control" id="password" placeholder="Password" asp-for="Password" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="ConfirmPassword" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" name="button" id="register" value="register">Register</button>
                                <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default pass-reqs">
                <div class="panel-heading">
                    <h4 class="panel-title">Password Requirements</h3>
                </div>
                <div class="req-list">
                    <ul>
                        @foreach(string req in HtmlUtils.passReqs)
                        {
                            <li>@req</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
